<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Interface Design Activity</title>
    <link rel="stylesheet" href="{% static 'css/styles_activity.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>User Interface Design Activity</h1>
        
        </div>
        <div class="details">
            <h2>Activity Details</h2>
            <ul id="activity-details">
                <!-- Details will be inserted here by JavaScript -->
            </ul>
        </div>
        <div class="comments">
            <h2>Comments</h2>
            <div id="comments">
                <!-- Comments will be inserted here by JavaScript -->
            </div>
        </div>
    </div>
    <script src="scrip.js"></script>
</body>
</html>
